:root {
  /* colors  */
  --neutral-1: hsl(0, 0%, 8%);
  --accent-1: hsl(153, 71%, 59%);
  --neutral-2: hsl(0, 0%, 14%);
  --neutral-3: hsl(0, 0%, 85%);
  --neutral-4: hsl(0, 0%, 100%);

  /* font sizes  */
  /* headings  */
  --headings-xl: 5.5rem;
  --headings-l: 3rem;
  --headings-m: 1.5rem;

  /* paragraph  */
  --fs-regular: 1rem;

  /* font weight  */
  --fw-regular: 400;
  --fw-bold: 700;
}
/* CSS RESET BY JOSH COMEAU*/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.56;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* GLOBAL STYLES */

body {
  font-size: var(--fs-regular);
  background-color: var(--neutral-1);
  color: var(--neutral-4);
  font-family: "Space Grotesk", serif;
}

.wrapper {
  margin-inline: 1rem;
}

/* HEADER STYLES */

.header,
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.header__logo {
  display: inline-block;
  font-size: var(--headings-m);
}

.header__socials {
  display: inline-block;
  margin-inline: 0.8125rem;
}

a.header__socials:hover svg path {
  fill: var(--accent-1);
  transition: fill ease-out 1s;
}

.hero {
  margin-top: 21.438rem;
  flex-direction: column;
  display: flex;
  gap: 1.5rem;
}

.hero__image {
  position: absolute;
  top: 0;
  right: 50%;
  translate: 50%;
}

.hero__text {
  text-align: center;
  line-height: 1;
  font-size: 2.5rem;
}

span.hero__name {
  position: relative;
}

span.hero__name::after {
  content: "";
  width: 100%;
  height: 0.25rem;
  background: var(--accent-1);
  position: absolute;
  bottom: 0;
  left: 0;
}

.hero_paragraph {
  text-align: center;
}

.hero__contact {
  text-decoration: none;
  color: var(--neutral-4);
  text-transform: uppercase;
  letter-spacing: 2.2896px;
  font-weight: var(--fw-bold);
  border-bottom: 2px solid var(--accent-1);
  padding-block-end: 0.625rem;
  display: inline-block;
  margin: 0 auto;
  font-size: 1.125rem;
}
.link {
  text-decoration: none;
  color: var(--neutral-4);
  text-transform: uppercase;
  letter-spacing: 0.1431rem;
  font-weight: var(--fw-bold);
  border-bottom: 2px solid var(--accent-1);
  padding-block-end: 0.625rem;
  display: inline-block;
  margin: 0 auto;
  font-size: 1.125rem;
}

.link:hover {
  color: var(--accent-1);
  transition: color ease-out 0.5s;
}

@media (min-width: 37.5em) {
  .wrapper {
    margin-inline: 2rem;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .hero {
    margin-top: 5.625rem;
    margin-bottom: 12.5rem;
    width: 27.8125rem;
    gap: 0;
  }

  .hero__image {
    top: 0;
    right: 0;
    translate: 0;
    z-index: -1;
  }

  .header__socials {
    margin-inline: 1rem;
  }

  span.hero__name::after {
    height: 0.375rem;
    bottom: 0.25rem;
  }
  .hero_paragraph {
    text-align: start;
    margin-top: 3.75rem;
  }

  .hero picture img {
    width: 21.875rem;
    height: auto;
  }

  .hero__text {
    text-align: start;
    font-size: 4.5rem;
  }

  .hero__contact {
    margin: 0;
    align-self: flex-start;
    margin-top: 2.125rem;
  }
}

@media (min-width: 58.75em) {
  .hero picture img {
    width: 27.8125rem;
    height: auto;
  }

  .hero picture {
    right: 10.3125rem;
  }

  .wrapper {
    margin-inline: 10.31rem;
  }
}

/* SKILLS STYLES*/
.skills {
  border-top: 1px solid var(--neutral-4);
  border-bottom: 1px solid var(--neutral-4);
  padding-block: 2.5rem;
  margin-block: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.skills__item h1 {
  font-size: 2rem;
}

@media (min-width: 37.5em) {
  .skills {
    column-gap: 0;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 58.75em) {
  .skills {
    column-gap: 0;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: none;
  }
}

/* PROJECTS STYLES */
.projects {
  padding-bottom: 5rem;
}
.projects__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.projects__title h2 {
  font-size: 2.5rem;
}

.projects__title a {
  margin: 0;
}

.projects__items {
  display: grid;
}
.projects__item {
  margin-block-start: 2.5rem;
}

.projects__item > h2 {
  text-transform: uppercase;
  margin-top: 1.25rem;
  margin-bottom: 0.4375rem;
}

.projects__item > div > span {
  margin-inline-end: 0.5625rem;
}

.project__links {
  margin-top: 1.25rem;
  display: flex;
  gap: 1.5rem;
  justify-content: flex-start;
}
.project__links > a {
  margin-inline: 0;
}

.projects__item picture img {
  width: 100%;
}
@media (min-width: 37.5em) {
  .projects__items {
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
  }
  .projects__title h2 {
    font-size: 4.5rem;
  }

  .projects__item img {
    width: 33.75rem;
    height: auto;
  }
}

@media (min-width: 58.75em) {
  .project__links {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--neutral-1);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    margin-top: 0;
    transition: opacity ease-out 0.5s;
  }

  .projects__item:hover .project__links {
    opacity: 0.75;
  }

  .project__links > a {
    margin-inline: auto;
  }
  .projects__item {
    position: relative;
  }
}

/* CONTACT STYLES */
.contact {
  padding-inline: 1rem;
  background-color: var(--neutral-2);
  padding-top: 3.3125rem;
}

.contact__information {
  text-align: center;
}

.contact__form {
  display: grid;
  gap: 2rem;
  margin-top: 3.125rem;
}

.contact__information__title {
  font-size: 2.5rem;
  text-align: center;
}

.contact__form input[type="text"],
.contact__form input[type="email"],
.contact__form textarea {
  color: var(--neutral-4);
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  background-color: var(--neutral-2);
  border: none;
  border-bottom: 0.0625rem solid var(--neutral-4);
  padding: 1rem;
}

.contact__form input[type="text"]::placeholder,
.contact__form input[type="email"]::placeholder,
.contact__form textarea::placeholder {
  text-transform: uppercase;
  color: var(--neutral-4);
  opacity: 0.5;
  font-weight: var(--fw-bold);
}

.contact__form input[type="text"]:focus,
.contact__form input[type="email"]:focus,
.contact__form textarea:focus {
  border: none;
  outline: none;
  border-bottom: 0.0625rem solid var(--accent-1);
}

.contact__form input[type="submit"] {
  background-color: var(--neutral-2);
  border-top: none;
  border-inline: none;
  margin-top: 2rem;
  margin-inline: 0;
  justify-self: flex-end;
}

.footer {
  padding-top: 2.438rem;
  border-top: 0.0625rem solid var(--neutral-4);
  margin-top: 5.438rem;
  padding-bottom: 4.18rem;
}

@media (min-width: 37.5em) {
  .contact {
    padding-top: 3.75rem;
    padding-inline: 2rem;
  }
}
@media (min-width: 58.75em) {
  .contact {
    padding-top: 5.25rem;
    padding-inline: 16rem;
  }
}
